@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

div {
  display: block;
  white-space: pre-wrap;
}

body {
  background-color: black;
}

a {
  width: fit-content;
  height: fit-content;
}

.unbounded-200 {
  font-family: 'Unbounded', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.unbounded-300 {
  font-family: 'Unbounded', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.unbounded-400 {
  font-family: 'Unbounded', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.unbounded-500 {
  font-family: 'Unbounded', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.unbounded-600 {
  font-family: 'Unbounded', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.unbounded-700 {
  font-family: 'Unbounded', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.unbounded-800 {
  font-family: 'Unbounded', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.unbounded-900 {
  font-family: 'Unbounded', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
